body{
  font-family: 'Dancing Script', cursive;
  font-family: 'Parisienne', cursive;
  font-family: 'Miss Fajardose', cursive;
  font-family: 'Monsieur La Doulaise', cursive;
  font-family: 'Calligraffitti', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'League Script', cursive;
  justify-content: center;
  margin: 0;
}

#header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#header video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.overlay h1 {
  position: absolute;
  font-size: 8em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
  typing 3.0s steps(40, end),
  blink-caret .80s step-end infinite;
  letter-spacing: normal;
  top: 20%;
  left: 20%;
  color: #ecb0c0;
}

.overlay h3{
  position: absolute;
  font-size: 3em;
  font-family: 'Open Sans Condensed',sans-serif;
  white-space: nowrap;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation:
  typing 3.5s steps(40, end),
  blink-caret .80s step-end infinite;
  letter-spacing: normal;
  top: 50%;
  left: 30%;
  color: white;
  font-weight: lighter;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70%; }
}

#menu{
  width: 13%;
  height: auto;
  position: fixed;
  top: 20%;
  left: 3%;
  z-index: 10;
}

#menu div{
  width: 100%;
  height: 35px;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  background-image: url("../img/etiqueta1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

#menu div:hover{
  transform: rotate(7deg);
}

#menu div a{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Condensed';
  font-size: 1.4em;
  margin: 0;
  vertical-align: middle;
  font-weight: bold;
}

#redes-sociales{
  width: 5%;
  height: auto;
  position: fixed;
  top: 30%;
  right: 3%;
  font-size: 30px;
  color: #ecb0c0;
  text-align: right;
  z-index: 10;
}

/* Sección tendencias*/
#tendencias{
  background-image: url("../img/wallpaper.jpg");
  width: 100%;
  height: auto;
}

#tendencias-contenedor {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

#tendencias-contenedor h1{
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  padding-top: 20px;
}

#verano img{
  width: 260px;
}

#otoño img{
  width: 280px;
}

#invierno img{
  width: 240px;
}

#primavera{
  position: relative;
  top: -90px;
}
#primavera img{
  width: 275px;
}

figure{
  display: inline-block;
  margin: 8px 4px;
}

figure img{
  transition: all 0.7s;
  opacity: 1;
}

figure figcaption{
  margin-top: -150px;
  margin-left: -180px;
}

figure figcaption span{
  position: absolute;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

figure:hover figcaption span{
  background-color: rgba(246, 32, 113, 0.6);
  padding: 2px 7px;
  width: auto;
}

figure:hover img{
  background:#a5aba1;
  color:#494c46;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: inset 0 0 0 3px #555953;
  opacity: 0.5;
}

a{
  text-decoration: none;
  color: white;
}

#titulo-verano{
  background-color: pink;
  width: 20%;
  height: 35px;
  margin-top: 40px;
  margin-left: 120px;
}
#guion{
  width: 80%;
  height: 3px;
  background-color: pink;
  margin-left: 120px;
}
#titulo-verano span{
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
}
#texto-verano{
  text-align: justify;
  margin: 20px 10px 0 170px;
  width: 30%;

}
#texto-verano p{
  font-family: 'Open Sans', arial, sans-serif;
  color: #777;
  line-height: 31px;
}
#img-verano img{
  width: 75%;
  height: 500px;

}
#img-verano{
  margin-left: 410px;
  position: absolute;
  margin-top: -440px;

}
#verano-contenedor{
  margin: auto;
}
#titulo-otoño{
  background-color: pink;
  width: 20%;
  height: 35px;
  margin-top: 40px;
  margin-left: 120px;
}
#guion-otoño{
  width: 80%;
  height: 3px;
  background-color: pink;
  margin-left: 120px;
}
#titulo-otoño span{
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
}

#titulo-primavera{
  background-color: pink;
  width: 22%;
  height: 35px;
  margin-top: 40px;
  margin-left: 120px;
}
#guion-primavera{
  width: 80%;
  height: 3px;
  background-color: pink;
  margin-left: 120px;
}
#titulo-primavera span{
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
}
#titulo-invierno{
  background-color: pink;
  width: 20%;
  height: 35px;
  margin-top: 40px;
  margin-left: 120px;
}
#guion-invierno{
  width: 80%;
  height: 3px;
  background-color: pink;
  margin-left: 120px;
}
#titulo-invierno span{
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
}

#img-invierno img{
  width: 45%;
  height: 400px;
  margin-top: 10px;
}
#img-invierno{
  margin-left: 170px;
  margin-top: 50px;
}
#texto-invierno{
  text-align: justify;
  margin: -450px 10px 0 690px;
  width: 30%;

}
#texto-invierno p{
  font-family: 'Open Sans', arial, sans-serif;
  color: #777;
  line-height: 31px;
}
#texto-primavera p{
  font-family: 'Open Sans', arial, sans-serif;
  color: #777;
  line-height: 31px;
}
#texto-primavera{
  text-align: justify;
  margin: 20px 10px 0 170px;
  width: 40%;

}
#img-primavera{
  margin-left: 700px;
  margin-top: -440px;
}
#img-primavera img{
  width: 78%;
  height: 450px;
  margin-top: -10px;
}
#texto-otoño{
  text-align: justify;
  margin: -450px 10px 0 610px;
  width: 40%;
}
#texto-otoño p{
  font-family: 'Open Sans', arial, sans-serif;
  color: #777;
  line-height: 31px;
}
#img-otoño{
margin-top: 50px;
}
#img-otoño img{
  width: 35%;
  height: 400px;
  margin-left: 90px;

}
